@font-face {
	font-family: 'Anonymous Pro';
	src: url('./media/AnonymousPro-Regular.ttf');
}

:root {
	--pink-color: #f5a9ba;
}

body, html{
    margin:0;
    padding:0;
}

body {
	font-family: 'Anonymous Pro', 'Courier';
	background: white;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	height: 100vh;
}

h1 {
	color: black;
}

p {
	margin: 0;
}

canvas {
	width: 500px;
	height: 500px;
	display: block;
}

button {
	background: var(--pink-color);
	font-family: 'Anonymous Pro', 'Courier';
	font-size: 15px;
	padding: 10px 15px;
	text-transform: uppercase;
	margin: 0 5px;
	cursor: pointer;
}

.canvas-graphic-wrapper {
	border: 2px solid black;
	width:  500px;
	background: white;
	margin: 10px auto;
	padding: 0;
}

.top-bar {
	background: var(--pink-color);
	width: 100%;
	position: relative;
	border-bottom: 2px solid black;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.top-bar:before {
	content: 'X';
	color: black;
	position: absolute;
	right: 10px;
	top: 10px;
	font-family: 'Arial';	
}

.button-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

#twitter {
	position: absolute;
	bottom: 15px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

#twitter a {
	color: black;
	text-decoration: none;
}

#twitter-logo {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

@media only screen and (max-width: 500px) {
	body {
		height: auto;
	}

	.canvas-graphic-wrapper {
		margin-top: 50px;
	}
}